<div class="section__item col-md-12 col-xl-4">
  <div class="section__item_img">
    <img src="./img/article-1.png" alt="" srcset="" />
  </div>
  <div class="section__item_title">
    Статья номер один
  </div>
  <div class="section__item_description">
    Разнообразный и богатый опыт укрепление и развитие структуры обеспечивает
    широкому кругу (специалистов) участие в формировании системы обучения
    кадров, соответствует насущным потребностям
  </div>
  <div class="section__item_actions">
    <button class="btn btn-sm btn-success item_open">
      подробнее<span class="ico bg-next"></span>
    </button>
  </div>
</div>
