<div class="filter__section site__ui">
  <div class="filter__title d-flex justify-content-between">
    <div class="filter__title_text">
      Подбор параметров
    </div>
    <span class="ico bg-levels d-lg-none d-inline-block"></span>
  </div>
  <nav class="navbar navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <div class="filter__param_title">
        Диапазон цен
      </div>
      <span class="ico bg-plus"></span>
      <span class="ico bg-minus"></span>
    </button>
  </nav>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="filter__param_action">
      <div class="input__block_cost">
        <input id="multiMin" type="text" />
        <input id="multiMax" type="text" />
      </div>
      <div class="input__block_range">
        <input type="range" class="multi" multiple="" value="0,100">
      </div>
    </div>
  </div>
  <nav class="navbar navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent2"
      aria-controls="navbarToggleExternalContent2" aria-expanded="false" aria-label="Toggle navigation">
      <div class="filter__param_title">
        Изготовитель
      </div>
      <span class="ico bg-plus"></span>
      <span class="ico bg-minus"></span>
    </button>
  </nav>
  <div class="collapse" id="navbarToggleExternalContent2">
    <div class="filter__param_action">
      <div class="item__properties_radio d-flex flex-column plus color">
        <input class="styled-checkbox" id="styled-checkbox-31" type="checkbox" value="value1">
        <label for="styled-checkbox-31">
          text
        </label>
        <input class="styled-checkbox" id="styled-checkbox-32" type="checkbox" value="value2" checked="">
        <label for="styled-checkbox-32">
          text
        </label>
        <input class="styled-checkbox" id="styled-checkbox-33" type="checkbox" value="value3">
        <label for="styled-checkbox-33">
          text
        </label>
        <input class="styled-checkbox" id="styled-checkbox-34" type="checkbox" value="value4">
        <label for="styled-checkbox-34">
          text
        </label>

      </div>
    </div>
  </div>
  <nav class="navbar navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent3"
      aria-controls="navbarToggleExternalContent3" aria-expanded="false" aria-label="Toggle navigation">
      <div class="filter__param_title">
        Материал
      </div>
      <span class="ico bg-plus"></span>
      <span class="ico bg-minus"></span>
    </button>
  </nav>
  <div class="collapse" id="navbarToggleExternalContent3">
    <!-- <select class="custom-select custom-select-lg mb-3">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select> -->
    <div class="wrap-drop" id="noble-gases">
      <div class="arrow_d">
        <span class="choosed">All Noble Gases</span>
        <span class="ico bg-down-arrow"></span>
      </div>
      
      <ul class="drop">
        <li class="selected"><a>All Noble Gases</a></li>
        <li><a>Helium</a></li>
        <li><a>Neon</a></li>
        <li><a>Argon</a></li>
        <li><a>Krypton</a></li>
        <li><a>Xenon</a></li>
        <li><a>Radon</a></li>
      </ul>
    </div>
  </div>
  <nav class="navbar navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent4"
      aria-controls="navbarToggleExternalContent4" aria-expanded="false" aria-label="Toggle navigation">
      <div class="filter__param_title">
        Бренд
      </div>
      <span class="ico bg-plus"></span>
      <span class="ico bg-minus"></span>
    </button>
  </nav>
  <div class="collapse" id="navbarToggleExternalContent4">
    <div class="filter__param_action">
      <div class="item__properties_radio d-flex flex-column circle color">
        <input class="styled-checkbox" id="styled-checkbox-11" type="radio" value="value1" name="variant2">
        <label for="styled-checkbox-11">
          text
        </label>
        <input class="styled-checkbox" id="styled-checkbox-12" type="radio" value="value2" name="variant2" checked="">
        <label for="styled-checkbox-12">
          text
        </label>
        <input class="styled-checkbox" id="styled-checkbox-13" type="radio" value="value3" name="variant2">
        <label for="styled-checkbox-13">
          text
        </label>
        <input class="styled-checkbox" id="styled-checkbox-14" type="radio" value="value4" name="variant2">
        <label for="styled-checkbox-14">
          text
        </label>

      </div>
    </div>
  </div>
<div class="selected__param">

  <div class="selected__param_item d-block d-lg-none">
      <span class="selected__param_item_text">
        Такой-то параметр
      </span>
      <span class="ico">+</span>
  </div>
</div>
</div>