<footer>
    <div class="footer-content">
        <div class="footer-copyright">
            &copy 2020 При использованииматериалов сайта обязательным условием является наличие гиперссылки
        </div>
        <div class="footer-payment_systems">
            <div class="payment__item ">
                <div class="payment-system mastercard"></div>
            </div>
            <div class="payment__item ">
                <div class="payment-system paypal"></div>
            </div>
            <div class="payment__item ">
                <div class="payment-system qiwi"></div>
            </div>
            <div class="payment__item ">
                <div class="payment-system bitcoin"></div>
            </div>
        </div>
    </div>
</footer>