<header>
  <div class="content container">
    <div
      class="header__firstline row justify-content-between align-items-center d-none d-lg-flex"
    >
      <div class="header__firstline_place col-lg-1">
        <div class="btn-group">
          <span class="ico bg-location"></span>
          <button
            class="dropdown-toggle"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Москва
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Орел</a>
            <a class="dropdown-item" href="#">Санкт-Петербург</a>
            <a class="dropdown-item" href="#">Казань</a>
          </div>
        </div>
      </div>
      <ul class="header__firstline_social col-lg-4">
        <li>
          <a href="#"><span class="ico bg-instagram"></span> Instagram</a>
        </li>
        <li>
          <a href="#"><span class="ico bg-facebook"></span> Facebook</a>
        </li>
        <li>
          <a href="#"><span class="ico bg-telegram"></span> Telegram</a>
        </li>
        <li>
          <a href="#"><span class="ico bg-whatsapp"></span> Whatsapp</a>
        </li>
      </ul>
    </div>
    <div
      class="header__secondline row align-items-start align-items-lg-center justify-content-between pl-1 pr-1"
    >
      //= ./logo.html
      <div class="category__dropdown d-none d-lg-block col-lg-2 ">
        <button
          class="justify-content-center justify-content-md-between btn btn-success btn-lg dropdown-toggle"
          type="button"
          id="dropdownMenu2"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
        <span>
          Каталог
        </span>
          <span class="ico bg-catalog-icon2 d-none d-md-inline-block"></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">Another action</button>
          <button class="dropdown-item" type="button">Another action</button>
          <button class="dropdown-item" type="button">
            Something else here
          </button>
        </div>
      </div>
      <div class="header__col_search input-group d-none d-lg-flex col-lg-4">
        <input
          id="header__search"
          type="text"
          class="form-control"
          placeholder="Что Вас интересует?"
          aria-label="Что Вас интересует?"
          aria-describedby="button-addon2"
        />
        <div class="input-group-append">
          <button class="btn btn-sm" type="button" id="button-addon2">
            <span class="ico bg-search"></span>
          </button>
        </div>
        //= ./search_dd.html
      </div>
      //= ./mobileheader.html
      <div class="secondline__asktocontact d-none d-md-block col-md-2">
        <a href="#" class="secondline__asktocontact_fline">заказать звонок</a>

        <a href="tel:88005553200" class="secondline__asktocontact_sline"
          >8 (800) 555-32-00</a
        >
      </div>
      <div class="secondline__userbuttons d-none d-lg-block pr-0">
        <a href="#" class="btn btn-warning secondline__userbuttons_choosed">
          <span class="choose__items_sum">3</span>
          <span class="ico bg-heart"></span>
        </a>
        <a href="#" class="btn btn-success secondline__userbuttons_login">
          <span class="ico bg-user"></span> Вход
        </a>
      </div>
    </div>

    <div class="header__thirdine d-none d-lg-flex">
      <ul class="nav justify-content-center align-items-center">
        <li class="nav-item">
          <a class="nav-link active" href="#">Преимущества</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Статьи</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Контакты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Доставка и оплата</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Гарантия</a>
        </li>
        <li class="nav-item">
          <a class="nav-link cart_sp" href="#">
            <span class="cart__items_sum">3</span>
            <span class="ico bg-shopping-cart-green"></span> Корзина
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
