<div class="section__square col-md-12 col-xl-4">
    <div class="section__item">
            <div class="section__item_img">
                <img src="./img/instagram-photo-1.png" alt="">
            </div>
            <div class="section__item_actions">
                <div class="section__item_text">
                    <div class="section__item_title">Заголовок публицкации</div>
                    <div class="section__item_description">Краткое описание публикации</div>
                </div>
                <button class="btn btn-sm btn-success item_open"><span class="ico bg-next"></span></button>
            </div>
    </div>
</div>