<main>
    <div class="content">
        <div class="main__section_hit">
            <div class="section__title">
                <h2 class="title__fline">Хит продаж</h2>
            </div>
            <div class="section__body container-fluid">
                <div class="row justify-content-center">
                    <div class="section__item col-6 col-lg-4 col-xl-3">
                        <div class="section__item_pin pin_new">Новинка</div>
                        <div class="section__item_img"><img src="./img/logo_namaste.png" alt="def_item" srcset=""></div>
                        <div class="section__item_title">Название бренда</div>
                        <div class="section__item_description d-none d-md-block">Более детальное название бренда</div>
                        <div class="section__item_price">
                            <span class="price_new">999 руб.</span>
                            <span class="price_old">1999 руб.</span>
                        </div>
                        <div class="section__item_actions d-flex justify-content-stretch">
                            <button class="btn btn-success flex-shrink-2 flex-grow-1 item_buy">
                                <span class="ico bg-shopping-cart"></span>
                                <span class="d-none d-md-inline">
                                    Заказать
                                </span>
                            </button>
                            <button class="btn btn-danger mx-1 flex-shrink-1 flex-grow-2 item_follow">
                                <span class="ico bg-heart"></span>
                            </button>
                            <button class="btn btn-warning flex-shrink-1 flex-grow-2 item_equal">
                                <span class="ico bg-libra"></span>
                            </button>
                        </div>
                    </div>
                    <div class="section__item col-6 col-lg-4 col-xl-3">
                        <div class="section__item_pin pin_new">Новинка</div>
                        <div class="section__item_img"><img src="./img/logo_namaste.png" alt="def_item" srcset=""></div>
                        <div class="section__item_title">Название бренда</div>
                        <div class="section__item_description d-none d-md-block">Более детальное название бренда</div>
                        <div class="section__item_price">
                            <span class="price_new">999 руб.</span>
                            <span class="price_old">1999 руб.</span>
                        </div>
                        <div class="section__item_actions d-flex justify-content-stretch">
                            <button class="btn btn-success flex-shrink-2 flex-grow-1 item_buy">
                                <span class="ico bg-shopping-cart"></span>
                                <span class="d-none d-md-inline">
                                    Заказать
                                </span>
                            </button>
                            <button class="btn btn-danger mx-1 flex-shrink-1 flex-grow-2 item_follow">
                                <span class="ico bg-heart"></span>
                            </button>
                            <button class="btn btn-warning flex-shrink-1 flex-grow-2 item_equal">
                                <span class="ico bg-libra"></span>
                            </button>
                        </div>
                    </div>
                    <div class="section__item col-6 col-lg-4 col-xl-3">
                        <div class="section__item_pin pin_new">Новинка</div>
                        <div class="section__item_img"><img src="./img/logo_namaste.png" alt="def_item" srcset=""></div>
                        <div class="section__item_title">Название бренда</div>
                        <div class="section__item_description d-none d-md-block">Более детальное название бренда</div>
                        <div class="section__item_price">
                            <span class="price_new">999 руб.</span>
                            <span class="price_old">1999 руб.</span>
                        </div>
                        <div class="section__item_actions d-flex justify-content-stretch">
                            <button class="btn btn-success flex-shrink-2 flex-grow-1 item_buy">
                                <span class="ico bg-shopping-cart"></span>
                                <span class="d-none d-md-inline">
                                    Заказать
                                </span>
                            </button>
                            <button class="btn btn-danger mx-1 flex-shrink-1 flex-grow-2 item_follow">
                                <span class="ico bg-heart"></span>
                            </button>
                            <button class="btn btn-warning flex-shrink-1 flex-grow-2 item_equal">
                                <span class="ico bg-libra"></span>
                            </button>
                        </div>
                    </div>
                    <div class="section__item col-6 col-lg-4 col-xl-3">
                        <div class="section__item_pin pin_new">Новинка</div>
                        <div class="section__item_img"><img src="./img/logo_namaste.png" alt="def_item" srcset=""></div>
                        <div class="section__item_title">Название бренда</div>
                        <div class="section__item_description d-none d-md-block">Более детальное название бренда</div>
                        <div class="section__item_price">
                            <span class="price_new">999 руб.</span>
                            <span class="price_old">1999 руб.</span>
                        </div>
                        <div class="section__item_actions d-flex justify-content-stretch">
                            <button class="btn btn-success flex-shrink-2 flex-grow-1 item_buy">
                                <span class="ico bg-shopping-cart"></span>
                                <span class="d-none d-md-inline">
                                    Заказать
                                </span>
                            </button>
                            <button class="btn btn-danger mx-1 flex-shrink-1 flex-grow-2 item_follow">
                                <span class="ico bg-heart"></span>
                            </button>
                            <button class="btn btn-warning flex-shrink-1 flex-grow-2 item_equal">
                                <span class="ico bg-libra"></span>
                            </button>
                        </div>
                    </div>
                    <div class="section__item col-6 col-lg-4 col-xl-3">
                        <div class="section__item_pin pin_new">Новинка</div>
                        <div class="section__item_img"><img src="./img/logo_namaste.png" alt="def_item" srcset=""></div>
                        <div class="section__item_title">Название бренда</div>
                        <div class="section__item_description d-none d-md-block">Более детальное название бренда</div>
                        <div class="section__item_price">
                            <span class="price_new">999 руб.</span>
                            <span class="price_old">1999 руб.</span>
                        </div>
                        <div class="section__item_actions d-flex justify-content-stretch">
                            <button class="btn btn-success flex-shrink-2 flex-grow-1 item_buy">
                                <span class="ico bg-shopping-cart"></span>
                                <span class="d-none d-md-inline">
                                    Заказать
                                </span>
                            </button>
                            <button class="btn btn-danger mx-1 flex-shrink-1 flex-grow-2 item_follow">
                                <span class="ico bg-heart"></span>
                            </button>
                            <button class="btn btn-warning flex-shrink-1 flex-grow-2 item_equal">
                                <span class="ico bg-libra"></span>
                            </button>
                        </div>
                    </div>
                    <div class="section__item col-6 col-lg-4 col-xl-3">
                        <div class="section__item_pin pin_new">Новинка</div>
                        <div class="section__item_img"><img src="./img/logo_namaste.png" alt="def_item" srcset=""></div>
                        <div class="section__item_title">Название бренда</div>
                        <div class="section__item_description d-none d-md-block">Более детальное название бренда</div>
                        <div class="section__item_price">
                            <span class="price_new">999 руб.</span>
                            <span class="price_old">1999 руб.</span>
                        </div>
                        <div class="section__item_actions d-flex justify-content-stretch">
                            <button class="btn btn-success flex-shrink-2 flex-grow-1 item_buy">
                                <span class="ico bg-shopping-cart"></span>
                                <span class="d-none d-md-inline">
                                    Заказать
                                </span>
                            </button>
                            <button class="btn btn-danger mx-1 flex-shrink-1 flex-grow-2 item_follow">
                                <span class="ico bg-heart"></span>
                            </button>
                            <button class="btn btn-warning flex-shrink-1 flex-grow-2 item_equal">
                                <span class="ico bg-libra"></span>
                            </button>
                        </div>
                    </div>
                    <div class="section__item col-6 col-lg-4 col-xl-3">
                        <div class="section__item_pin pin_new">Новинка</div>
                        <div class="section__item_img"><img src="./img/logo_namaste.png" alt="def_item" srcset=""></div>
                        <div class="section__item_title">Название бренда</div>
                        <div class="section__item_description d-none d-md-block">Более детальное название бренда</div>
                        <div class="section__item_price">
                            <span class="price_new">999 руб.</span>
                            <span class="price_old">1999 руб.</span>
                        </div>
                        <div class="section__item_actions d-flex justify-content-stretch">
                            <button class="btn btn-success flex-shrink-2 flex-grow-1 item_buy">
                                <span class="ico bg-shopping-cart"></span>
                                <span class="d-none d-md-inline">
                                    Заказать
                                </span>
                            </button>
                            <button class="btn btn-danger mx-1 flex-shrink-1 flex-grow-2 item_follow">
                                <span class="ico bg-heart"></span>
                            </button>
                            <button class="btn btn-warning flex-shrink-1 flex-grow-2 item_equal">
                                <span class="ico bg-libra"></span>
                            </button>
                        </div>
                    </div>
                    <div class="section__item col-6 col-lg-4 col-xl-3">
                        <div class="section__item_pin pin_new">Новинка</div>
                        <div class="section__item_img"><img src="./img/logo_namaste.png" alt="def_item" srcset=""></div>
                        <div class="section__item_title">Название бренда</div>
                        <div class="section__item_description d-none d-md-block">Более детальное название бренда</div>
                        <div class="section__item_price">
                            <span class="price_new">999 руб.</span>
                            <span class="price_old">1999 руб.</span>
                        </div>
                        <div class="section__item_actions d-flex justify-content-stretch">
                            <button class="btn btn-success flex-shrink-2 flex-grow-1 item_buy">
                                <span class="ico bg-shopping-cart"></span>
                                <span class="d-none d-md-inline">
                                    Заказать
                                </span>
                            </button>
                            <button class="btn btn-danger mx-1 flex-shrink-1 flex-grow-2 item_follow">
                                <span class="ico bg-heart"></span>
                            </button>
                            <button class="btn btn-warning flex-shrink-1 flex-grow-2 item_equal">
                                <span class="ico bg-libra"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main__section_supreme">
            <div class="section__title">
                <h2 class="title__fline">Наши преимущества</h2>
                <h3 class="title__sline">Почему стоит доверять именно нам?</h3>
            </div>
            <div class="section__body">
                <div class="section__line container">
                    <div class="row">
                        <div class="section__item col-6 col-xl-3">
                            <div class="section__item_img big_ico bg-001_rupee"></div>
                            <div class="section__item_title">
                                Возврат любого
                                товара 30 дней
                            </div>
                        </div>
                        <div class="section__item col-6 col-xl-3">
                            <div class="section__item_img big_ico bg-002_rickshaw"></div>
                            <div class="section__item_title">
                                Более 4500 пунктов самовывоза по России
                            </div>
                        </div>
                        <div class="section__item col-6 col-xl-3">
                            <div class="section__item_img big_ico bg-lotus"></div>
                            <div class="section__item_title">
                                Принимаем банковские карты
                            </div>
                        </div>
                        <div class="section__item col-6 col-xl-3">
                            <div class="section__item_img big_ico bg-003_diwali"></div>
                            <div class="section__item_title">
                                Доставим в любую точку мира
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="main__section_article">
            <div class="section__line article">
                <div class="row justify-content-center">
                    <div class="section__item col-md-12 col-xl-4">
                        <div class="section__item_img">
                            <img src="./img/article-1.png" alt="" srcset="">
                        </div>
                        <div class="section__item_text">
                            <div class="section__item_title">
                                Статья номер один
                            </div>
                            <div class="section__item_description">
                                Разнообразный и богатый опыт укрепление и развитие структуры обеспечивает широкому кругу
                                (специалистов) участие в формировании системы обучения кадров, соответствует насущным
                                потребностям
                            </div>
                            <div class="section__item_actions">
                                <button class="item_open">
                                    <span class="b-text">
                                        Подробнее
                                    </span>
                                    <span class="bt">
                                        <span class="ico bg-next"></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="section__item central col-md-12 col-xl-4">
                        <div class="section__item_img">
                            <img src="./img/article-2.png" alt="" srcset="">
                        </div>
                        <div class="section__item_text">
                            <div class="section__item_title">
                                Статья номер один
                            </div>
                            <div class="section__item_description">
                                Разнообразный и богатый опыт укрепление и развитие структуры обеспечивает широкому кругу
                                (специалистов) участие в формировании системы обучения кадров, соответствует насущным
                                потребностям
                            </div>
                            <div class="section__item_actions">
                                <button class="item_open">
                                    <span class="b-text">
                                        Подробнее
                                    </span>
                                    <span class="bt">
                                        <span class="ico bg-next"></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="section__item col-md-12 col-xl-4">
                        <div class="section__item_img">
                            <img src="./img/article-3.png" alt="" srcset="">
                        </div>
                        <div class="section__item_text">
                            <div class="section__item_title">
                                Статья номер один
                            </div>
                            <div class="section__item_description">
                                Разнообразный и богатый опыт укрепление и развитие структуры обеспечивает широкому кругу
                                (специалистов) участие в формировании системы обучения кадров, соответствует насущным
                                потребностям
                            </div>
                            <div class="section__item_actions">
                                <button class="item_open">
                                    <span class="b-text">
                                        Подробнее
                                    </span>
                                    <span class="bt">
                                        <span class="ico bg-next"></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main__section_partners">
        <div class="section__title">
            <h2 class="title__fline">Наши партнеры</h2>
        </div>
        <div class="content">
            <div class="section__body container">
                <div class="section__line partners__slider row">
                    <div class="section__item  col-md-12 col-xl-2">
                        <div class="section__item_img">
                            <img src="./img/logo_namaste.png" alt="" srcset="">
                        </div>
                        <div class="section__item_title"></div>
                    </div>
                    <div class="section__item  col-md-12 col-xl-2">
                        <div class="section__item_img">
                            <img src="./img/logo_namaste.png" alt="" srcset="">
                        </div>
                        <div class="section__item_title"></div>
                    </div>
                    <div class="section__item  col-md-12 col-xl-2">
                        <div class="section__item_img">
                            <img src="./img/logo_namaste.png" alt="" srcset="">
                        </div>
                        <div class="section__item_title"></div>
                    </div>
                    <div class="section__item  col-md-12 col-xl-2">
                        <div class="section__item_img">
                            <img src="./img/logo_namaste.png" alt="" srcset="">
                        </div>
                        <div class="section__item_title"></div>
                    </div>
                    <div class="section__item  col-md-12 col-xl-2">
                        <div class="section__item_img">
                            <img src="./img/logo_namaste.png" alt="" srcset="">
                        </div>
                        <div class="section__item_title"></div>
                    </div>
                    <div class="section__item  col-md-12 col-xl-2">
                        <div class="section__item_img">
                            <img src="./img/logo_namaste.png" alt="" srcset="">
                        </div>
                        <div class="section__item_title"></div>
                    </div>
                </div>
                <div class="section__line partners__slider_mobile_1 d-md-none d-sm-flex row">
                    <div class="section__item  col-md-12 col-xl-2">
                        <div class="section__item_img">
                            <img src="./img/logo_namaste.png" alt="" srcset="">
                        </div>
                        <div class="section__item_title"></div>
                    </div>
                    <div class="section__item  col-md-12 col-xl-2">
                        <div class="section__item_img">
                            <img src="./img/logo_namaste.png" alt="" srcset="">
                        </div>
                        <div class="section__item_title"></div>
                    </div>
                    <div class="section__item  col-md-12 col-xl-2">
                        <div class="section__item_img">
                            <img src="./img/logo_namaste.png" alt="" srcset="">
                        </div>
                        <div class="section__item_title"></div>
                    </div>
                    <div class="section__item  col-md-12 col-xl-2">
                        <div class="section__item_img">
                            <img src="./img/logo_namaste.png" alt="" srcset="">
                        </div>
                        <div class="section__item_title"></div>
                    </div>
                    <div class="section__item  col-md-12 col-xl-2">
                        <div class="section__item_img">
                            <img src="./img/logo_namaste.png" alt="" srcset="">
                        </div>
                        <div class="section__item_title"></div>
                    </div>
                    <div class="section__item  col-md-12 col-xl-2">
                        <div class="section__item_img">
                            <img src="./img/logo_namaste.png" alt="" srcset="">
                        </div>
                        <div class="section__item_title"></div>
                    </div>
                </div>
                <div class="section__line partners__slider_mobile_2 d-md-none d-sm-flex row">
                    <div class="section__item  col-md-12 col-xl-2">
                        <div class="section__item_img">
                            <img src="./img/logo_namaste.png" alt="" srcset="">
                        </div>
                        <div class="section__item_title"></div>
                    </div>
                    <div class="section__item  col-md-12 col-xl-2">
                        <div class="section__item_img">
                            <img src="./img/logo_namaste.png" alt="" srcset="">
                        </div>
                        <div class="section__item_title"></div>
                    </div>
                    <div class="section__item  col-md-12 col-xl-2">
                        <div class="section__item_img">
                            <img src="./img/logo_namaste.png" alt="" srcset="">
                        </div>
                        <div class="section__item_title"></div>
                    </div>
                    <div class="section__item  col-md-12 col-xl-2">
                        <div class="section__item_img">
                            <img src="./img/logo_namaste.png" alt="" srcset="">
                        </div>
                        <div class="section__item_title"></div>
                    </div>
                    <div class="section__item  col-md-12 col-xl-2">
                        <div class="section__item_img">
                            <img src="./img/logo_namaste.png" alt="" srcset="">
                        </div>
                        <div class="section__item_title"></div>
                    </div>
                    <div class="section__item  col-md-12 col-xl-2">
                        <div class="section__item_img">
                            <img src="./img/logo_namaste.png" alt="" srcset="">
                        </div>
                        <div class="section__item_title"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section__footer"></div>
    </div>
    <div class="content">
        <div class="main__section_insta">
            <div class="section__title">
                <h2 class="title__fline">Мы в Instagram</h2>
                <h3 class="title__sline">Узнай о Нас больше!</h3>
            </div>
            <div class="section__body row justify-content-center">
                <div class="section__square col-5 col-xl-4">
                    <div class="section__item">
                        <div class="section__item_img">
                            <img src="./img/instagram-photo-1.png" alt="">
                        </div>
                        <div class="section__item_actions">
                            <div class="section__item_text">
                                <div class="section__item_title">Заголовок публицкации</div>
                                <div class="section__item_description d-none d-md-block">Краткое описание публикации</div>
                            </div>
                            <button class="item_open">
                                <span class="bt">
                                    <span class="ico bg-next"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="section__square col-5 col-xl-4">
                    <div class="section__item">
                        <div class="section__item_img">
                            <img src="./img/instagram-photo-2.png" alt="">
                        </div>
                        <div class="section__item_actions">
                            <div class="section__item_text">
                                <div class="section__item_title">Заголовок публицкации</div>
                                <div class="section__item_description d-none d-md-block">Краткое описание публикации</div>
                            </div>
                            <button class="item_open">
                                <span class="bt">
                                    <span class="ico bg-next"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="section__square col-5 col-xl-4">
                    <div class="section__item">
                        <div class="section__item_img">
                            <img src="./img/instagram-photo-3.png" alt="">
                        </div>
                        <div class="section__item_actions">
                            <div class="section__item_text">
                                <div class="section__item_title">Заголовок публицкации</div>
                                <div class="section__item_description d-none d-md-block">Краткое описание публикации</div>
                            </div>
                            <button class="item_open">
                                <span class="bt">
                                    <span class="ico bg-next"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="section__square col-5 col-xl-4">
                    <div class="section__item">
                        <div class="section__item_img">
                            <img src="./img/instagram-photo-4.png" alt="">
                        </div>
                        <div class="section__item_actions">
                            <div class="section__item_text">
                                <div class="section__item_title">Заголовок публицкации</div>
                                <div class="section__item_description d-none d-md-block">Краткое описание публикации</div>
                            </div>
                            <button class="item_open">
                                <span class="bt">
                                    <span class="ico bg-next"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="section__square col-5 col-xl-4">
                    <div class="section__item">
                        <div class="section__item_img">
                            <img src="./img/instagram-photo-5.png" alt="">
                        </div>
                        <div class="section__item_actions">
                            <div class="section__item_text">
                                <div class="section__item_title">Заголовок публицкации</div>
                                <div class="section__item_description d-none d-md-block">Краткое описание публикации</div>
                            </div>
                            <button class="item_open">
                                <span class="bt">
                                    <span class="ico bg-next"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="section__square col-5 col-xl-4">
                    <div class="section__item">
                        <div class="section__item_img">
                            <img src="./img/instagram-photo-6.png" alt="">
                        </div>
                        <div class="section__item_actions">
                            <div class="section__item_text">
                                <div class="section__item_title">Заголовок публицкации</div>
                                <div class="section__item_description d-none d-md-block">Краткое описание публикации</div>
                            </div>
                            <button class="item_open">
                                <span class="bt">
                                    <span class="ico bg-next"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<!-- //don't touch under!********************* -->

</div>