<main>
    <div class="content">
        <div class="main__section_hit">
            <div class="section__title">
                <div class="title__fline">Text</div>
                <!-- <div class="title__sline">text</div> -->
            </div>
            <div class="section__body">
                <!-- <div class="section__line"> -->
                    <div class="section__item">
                        <div class="section__item_new">new</div>
                        <div class="section__item_img"></div>
                        <div class="section__item_title"></div>
                        <div class="section__item_description"></div>
                        <div class="section__item_price">
                            <div class="price_new">999</div>
                            <div class="price_old">1999</div>
                        </div>
                        <div class="section__item_actions">
                            <button class="btn btn-success item_buy"></button>
                            <button class="btn btn-danger item_follow"></button> 
                            <button class="btn btn-warning item_equal"></button>
                        </div> 
                    </div>
                <!-- </div> -->
            </div>
        </div>
        <div class="main__section_supreme">
            <div class="section__title">
                <div class="title__fline">Text</div>
                <div class="title__sline">text</div>
            </div>
            <div class="section__body">
                <div class="section__line">
                    <div class="section__item">
                        <div class="section__item_img"></div>
                        <div class="section__item_title"></div>
                    </div>
                    <div class="section__item">
                        <div class="section__item_img"></div>
                        <div class="section__item_title"></div>
                    </div>
                    <div class="section__item">
                        <div class="section__item_img"></div>
                        <div class="section__item_title"></div>
                    </div>
                    <div class="section__item">
                        <div class="section__item_img"></div>
                        <div class="section__item_title"></div>
                    </div>
                </div>
                <div class="section__line">
                    <div class="section__item">
                        <div class="section__item_img"></div>
                        <div class="section__item_title"></div>
                        <div class="section__item_description"></div>
                        <div class="section__item_actions">
                            <button class="btn btn-success item_open"></button>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- //don't touch under!********************* -->

</div>