<nav class="navbar col-10 d-lg-none">

  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <button class="navbar-toggler btn real btn-success col-6 toggler-example" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent0" aria-controls="navbarSupportedContent0" aria-expanded="false"
    aria-label="Toggle navigation">
    Каталог

  </button>
  <button class="navbar-toggler btn btn-outline-secondary col-2 toggler-example" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="ico bg-search_button_mob"></span>

  </button>
  <button class="navbar-toggler btn btn-outline-secondary col-2 toggler-example" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="cart__items_sum">3</span>
    <span class="ico bg-shopping-cart-mobile"></span>
  </button>

  <button class="navbar-toggler btn real btn-outline-secondary col-2 toggler-example" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent3" aria-controls="navbarSupportedContent3" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="ico bg-catalog-icon2"></span>

  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent0">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>

  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent1">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>

  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent2">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home2 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing2</a>
      </li>
    </ul>

  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent3">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home3 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing3</a>
      </li>
    </ul>

  </div>

</nav>