<div class="__remov_me col-1 d-none d-md-block position-fixed fixed-top">
    <ul class="list-group">
        <li class="list-group-item" style="font-weight: 700;">
            
                pages list
            
        </li>
        <li class="list-group-item">
            <a href="./index.html"> home</a>
        </li>
        <li class="list-group-item">
            <a href="./page1.html"> payment</a>
        </li>
        <li class="list-group-item">
            <a href="./page2.html"> category</a>
        </li>
        <li class="list-group-item">
            <a href="./page3.html"> item</a>
        </li>
        <li class="list-group-item">
            <a href="./page4.html"> catalog</a>
        </li>
        <li class="list-group-item">
            <a href="./ui.html"> ui</a>
        </li>
        <li class="list-group-item">
            <a href="./404.html">404</a>
        </li>
    </ul>
</div>