//= ./bcr.html
<main>
  <div class="content">
    <div class="main__item_personal_page">
      <div class="item__slider">
        <div class="item__slider_big">
          <div class="slider__image">
            <img src="../img/logo_namaste.png" alt="" />
          </div>
          <div class="slider__image">
            <img src="../img/logo_namaste.png" alt="" />
          </div>
          <div class="slider__image">
            <img src="../img/logo_namaste.png" alt="" />
          </div>
          <div class="slider__image">
            <img src="../img/logo_namaste.png" alt="" />
          </div>
          <div class="slider__image">
            <img src="../img/logo_namaste.png" alt="" />
          </div>
          <div class="slider__image">
            <img src="../img/logo_namaste.png" alt="" />
          </div>
        </div>
        <div class="item__slider_small">
          <div class="slider__image">
            <img src="../img/logo_namaste.png" alt="" />
          </div>
          <div class="slider__image">
            <img src="../img/logo_namaste.png" alt="" />
          </div>
          <div class="slider__image">
            <img src="../img/logo_namaste.png" alt="" />
          </div>
          <div class="slider__image">
            <img src="../img/logo_namaste.png" alt="" />
          </div>
          <div class="slider__image">
            <img src="../img/logo_namaste.png" alt="" />
          </div>
          <div class="slider__image">
            <img src="../img/logo_namaste.png" alt="" />
          </div>
        </div>
      </div>
      <div class="item__description">
        <div class="tab__content_conteiner">
          <div class="tab__wrap">
            <div class="conteiner__header">
              <div class="tab__title">Название товара</div>
              <div class="tab__nav_close item__code">Код товара: 71270088</div>
            </div>
            <div class="conteiner__main">
              <div class="drop__row">
                <div class="drop__item_costconteiner">
                  <div class="drop__item_cost price_old">2999 руб</div>
                  <div class="drop__item_cost price_new">1999 руб</div>
                </div>
                <div class="input-group drop__item_counter">
                  <span class="input-group-btn">
                    <button
                      type="button"
                      class="btn btn-default btn-number"
                      disabled="disabled"
                      data-type="minus"
                      data-field="quant[1]"
                    >
                      -
                    </button>
                  </span>
                  <input
                    type="text"
                    name="quant[1]"
                    class="form-control input-number"
                    value="1"
                    min="1"
                    max="9999"
                  />
                  <span class="input-group-btn">
                    <button
                      type="button"
                      class="btn btn-default btn-number"
                      data-type="plus"
                      data-field="quant[1]"
                    >
                      +
                    </button>
                  </span>
                </div>
                <div class="cart__action">
                  <button class="btn btn-outline-secondary item_buy">
                    Купить в 1 клик
                  </button>
                  <button class="btn btn-success item_buy">
                    <span class="ico bg-shopping_cart__1_"></span>
                    Заказать
                  </button>
                </div>
                <!-- <div class="drop__item_description"></div> -->
                <!-- <div class="drop__item_amount">1 998 руб.</div>
                    <div class="drop__item_remove">+</div> -->
              </div>
              //= ./properties.html
              <div class="drop__item_text">
                Равным образом новая модель организационной деятельности требуют
                от нас анализа существенных финансовых и административных
                условий. С другой стороны постоянный количественный рост и сфера
                нашей активности в значительной степени обуславливает создание
                новых предложений. Равным образом новая модель организационной
                деятельности обеспечивает широкому кругу (специалистов) участие
                в формировании существенных финансовых и административных
                условий. Товарищи! начало повседневной работы по формированию
                позиции играет важную роль в формировании соответствующий
                условий активизации.
              </div>
            </div>
          </div>

          <div class="conteiner__footer">
            <div class="conteiner__footer_fline">
              <!-- <div class="cart__amount">
                  <div class="cart__amount_text">
                    Итого:
                  </div>
                  <div class="cart__amount_summary">
                    2 997 руб
                  </div>
                </div> -->
              <div class="cart__action_notbuy">
                <button class="btn btn-warning item_fav">
                  <span class="ico bg-heart__1_"></span>
                  Избранное
                </button>
                <button class="btn btn-outline-danger item_buy">
                  <span class="ico bg-libra_menu"></span>
                  Сравнить
                </button>
              </div>
            </div>
            <!-- <div class="conteiner__footer_sline">
                <div class="cart__action__reset">
                  +<span class="text">Очистить</span>
                </div>
              </div> -->
          </div>
        </div>
      </div>
      <div class="item__video">
        <iframe
          src="https://www.youtube.com/embed/mr8GBzTsWqM?controls=0&amp;showinfo=0&amp;rel=0&amp;autoplay=0&amp;loop=1&amp;playlist=mr8GBzTsWqM"
          allowfullscreen=""
        ></iframe>
      </div>
    </div>
  </div>
</main>
