<main>
  <div class="content">
    <div class="main__section_hit main__section_category">
      <div class="section__title">
        <h2 class="title__fline">Категории</h2>
      </div>
      <div class="section__body container-fluid">
        <div class="row justify-content-center">
          <div class="section__item col-md-6 col-lg-4 col-xl-3">
            <div class="section__item_img">
              <img src="../img/logo_namaste.png" alt="def_item" srcset="" />
            </div>
            <div class="section__item_title">Название бренда в две строки</div>
          </div>
          <div class="section__item col-md-6 col-lg-4 col-xl-3">
            <div class="section__item_img">
              <img src="../img/logo_namaste.png" alt="def_item" srcset="" />
            </div>
            <div class="section__item_title">Название бренда в две строки</div>
          </div>
          <div class="section__item col-md-6 col-lg-4 col-xl-3">
            <div class="section__item_img">
              <img src="../img/logo_namaste.png" alt="def_item" srcset="" />
            </div>
            <div class="section__item_title">Название бренда в две строки</div>
          </div>
          <div class="section__item col-md-6 col-lg-4 col-xl-3">
            <div class="section__item_img">
              <img src="../img/logo_namaste.png" alt="def_item" srcset="" />
            </div>
            <div class="section__item_title">Название бренда в две строки</div>
          </div>
          <div class="section__item col-md-6 col-lg-4 col-xl-3">
            <div class="section__item_img">
              <img src="../img/logo_namaste.png" alt="def_item" srcset="" />
            </div>
            <div class="section__item_title">Название бренда в две строки</div>
          </div>
          <div class="section__item col-md-6 col-lg-4 col-xl-3">
            <div class="section__item_img">
              <img src="../img/logo_namaste.png" alt="def_item" srcset="" />
            </div>
            <div class="section__item_title">Название бренда в две строки</div>
          </div>
          <div class="section__item col-md-6 col-lg-4 col-xl-3">
            <div class="section__item_img">
              <img src="../img/logo_namaste.png" alt="def_item" srcset="" />
            </div>
            <div class="section__item_title">Название бренда в две строки</div>
          </div>
          <div class="section__item col-md-6 col-lg-4 col-xl-3">
            <div class="section__item_img">
              <img src="../img/logo_namaste.png" alt="def_item" srcset="" />
            </div>
            <div class="section__item_title">Название бренда в две строки</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
