<main>
    <div class="content">
        <div class="category-container">
            <div class="category-heading">
                Категории
            </div>
            <div class="category-list">
                <div class="category__item">
                    <div class="category-photo"></div>
                    <div class="category-text">
                        <h3>Название бренда в две строки</h3>
                    </div>
                </div>
                <div class="category__item">
                    <div class="category-photo"></div>
                    <div class="category-text">
                        <h3>Название бренда в две строки</h3>
                    </div>
                </div>
                <div class="category__item">
                    <div class="category-photo"></div>
                    <div class="category-text">
                        <h3>Название бренда в две строки</h3>
                    </div>
                </div>
                <div class="category__item">
                    <div class="category-photo"></div>
                    <div class="category-text">
                        <h3>Название бренда в две строки</h3>
                    </div>
                </div>
                <div class="category__item">
                    <div class="category-photo"></div>
                    <div class="category-text">
                        <h3>Название бренда в две строки</h3>
                    </div>
                </div>
                <div class="category__item">
                    <div class="category-photo"></div>
                    <div class="category-text">
                        <h3>Название бренда в две строки</h3>
                    </div>
                </div>
                <div class="category__item">
                    <div class="category-photo"></div>
                    <div class="category-text">
                        <h3>Название бренда в две строки</h3>
                    </div>
                </div>
                <div class="category__item">
                    <div class="category-photo"></div>
                    <div class="category-text">
                        <h3>Название бренда в две строки</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>