<main>
  <div class="content site__ui">
    <div class="main__section__category">
      <div class="category__section">
        <div class="category__section_title">
          Каталог
        </div>
        <div class="category__section_action"></div>
      </div>
      <div class="category__section_choose d-flex flex-column flex-lg-row">
        <div class="category__section_filter col-12 col-lg-3">
          //= ./filter.html
        </div>
        <div class="category__section_items col-12 col-lg-9">
          <div class="section__items">
            <div class="drop__row">
              <div class="drop__item_img">
                <img src="./img/logo_namaste.png" alt="" srcset="" />
              </div>
              <div class="drop__item_text">
                <div class="drop__item_rate">
                  <span class="ico bg-star_g"></span>
                  <span class="ico bg-star_g"></span>
                  <span class="ico bg-star_g"></span>
                  <span class="ico bg-star_g"></span>
                  <span class="ico bg-star_s"></span>
                  <span class="numbers">
                    (253)
                  </span>
                </div>
                <div class="drop__item_title">Название бренда</div>
                <div class="drop__item_action_buttons">
                  <button class="btn btn-xsm btn-outline-danger">
                    <span class="ico bg-heart2"></span>
                  </button>
                  <button class="btn btn-xsm btn-outline-warning">
                    <span class="ico bg-libra2"></span>
                  </button>
                </div>
                <!-- <div class="drop__item_description">
                  <div class="drop__item_cost">999 руб</div>
                  <div class="drop__item_cost_type">розничная цена</div>
                </div> -->
              </div>
              <div class="drop__item_indicator">
                <div class="drop__item_indicator_status"></div>
                <div class="drop__item_indicator_status_av">В наличии</div>
                <div class="drop__item_indicator_status_notav"></div>
              </div>
              <div class="drop__item_amount">1 998 руб.</div>
              <div class="drop__item_counter">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus"
                      data-field="quant[1]">
                      -
                    </button>
                  </span>
                  <input type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="9999" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                      +
                    </button>
                  </span>
                </div>
              </div>
              <button class="btn btn-success item_buy">
                <span class="ico bg-shopping_cart__1_"></span>
                Заказать
              </button>
            </div>
          </div>
          <div class="section__items">
            <div class="drop__row">
              <div class="drop__item_img">
                <img src="./img/logo_namaste.png" alt="" srcset="" />
              </div>
              <div class="drop__item_text">
                <div class="drop__item_rate">
                  <span class="ico bg-star_g"></span>
                  <span class="ico bg-star_g"></span>
                  <span class="ico bg-star_g"></span>
                  <span class="ico bg-star_g"></span>
                  <span class="ico bg-star_s"></span>
                  <span class="numbers">
                    (253)
                  </span>
                </div>
                <div class="drop__item_title">Название бренда</div>
                <div class="drop__item_action_buttons">
                  <button class="btn btn-xsm btn-outline-danger">
                    <span class="ico bg-heart2"></span>
                  </button>
                  <button class="btn btn-xsm btn-outline-warning">
                    <span class="ico bg-libra2"></span>
                  </button>
                </div>
                <!-- <div class="drop__item_description">
                  <div class="drop__item_cost">999 руб</div>
                  <div class="drop__item_cost_type">розничная цена</div>
                </div> -->
              </div>
              <div class="drop__item_indicator">
                <div class="drop__item_indicator_status"></div>
                <div class="drop__item_indicator_status_av">В наличии</div>
                <div class="drop__item_indicator_status_notav"></div>
              </div>
              <div class="drop__item_amount">1 998 руб.</div>
              <div class="drop__item_counter">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus"
                      data-field="quant[1]">
                      -
                    </button>
                  </span>
                  <input type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="9999" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                      +
                    </button>
                  </span>
                </div>
              </div>
              <button class="btn btn-success item_buy">
                <span class="ico bg-shopping_cart__1_"></span>
                Заказать
              </button>
            </div>
          </div>
          <div class="section__items">
            <div class="drop__row">
              <div class="drop__item_img">
                <img src="./img/logo_namaste.png" alt="" srcset="" />
              </div>
              <div class="drop__item_text">
                <div class="drop__item_rate">
                  <span class="ico bg-star_g"></span>
                  <span class="ico bg-star_g"></span>
                  <span class="ico bg-star_g"></span>
                  <span class="ico bg-star_g"></span>
                  <span class="ico bg-star_s"></span>
                  <span class="numbers">
                    (253)
                  </span>
                </div>
                <div class="drop__item_title">Название бренда</div>
                <div class="drop__item_action_buttons">
                  <button class="btn btn-xsm btn-outline-danger">
                    <span class="ico bg-heart2"></span>
                  </button>
                  <button class="btn btn-xsm btn-outline-warning">
                    <span class="ico bg-libra2"></span>
                  </button>
                </div>
                <!-- <div class="drop__item_description">
                  <div class="drop__item_cost">999 руб</div>
                  <div class="drop__item_cost_type">розничная цена</div>
                </div> -->
              </div>
              <div class="drop__item_indicator">
                <div class="drop__item_indicator_status"></div>
                <div class="drop__item_indicator_status_av">В наличии</div>
                <div class="drop__item_indicator_status_notav"></div>
              </div>
              <div class="drop__item_amount">1 998 руб.</div>
              <div class="drop__item_counter">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus"
                      data-field="quant[1]">
                      -
                    </button>
                  </span>
                  <input type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="9999" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                      +
                    </button>
                  </span>
                </div>
              </div>
              <button class="btn btn-success item_buy">
                <span class="ico bg-shopping_cart__1_"></span>
                Заказать
              </button>
            </div>
          </div>
          <div class="section__items">
            <div class="drop__row">
              <div class="drop__item_img">
                <img src="./img/logo_namaste.png" alt="" srcset="" />
              </div>
              <div class="drop__item_text">
                <div class="drop__item_rate">
                  <span class="ico bg-star_g"></span>
                  <span class="ico bg-star_g"></span>
                  <span class="ico bg-star_g"></span>
                  <span class="ico bg-star_g"></span>
                  <span class="ico bg-star_s"></span>
                  <span class="numbers">
                    (253)
                  </span>
                </div>
                <div class="drop__item_title">Название бренда</div>
                <div class="drop__item_action_buttons">
                  <button class="btn btn-xsm btn-outline-danger">
                    <span class="ico bg-heart2"></span>
                  </button>
                  <button class="btn btn-xsm btn-outline-warning">
                    <span class="ico bg-libra2"></span>
                  </button>
                </div>
                <!-- <div class="drop__item_description">
                  <div class="drop__item_cost">999 руб</div>
                  <div class="drop__item_cost_type">розничная цена</div>
                </div> -->
              </div>
              <div class="drop__item_indicator">
                <div class="drop__item_indicator_status"></div>
                <div class="drop__item_indicator_status_av">В наличии</div>
                <div class="drop__item_indicator_status_notav"></div>
              </div>
              <div class="drop__item_amount">1 998 руб.</div>
              <div class="drop__item_counter">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus"
                      data-field="quant[1]">
                      -
                    </button>
                  </span>
                  <input type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="9999" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                      +
                    </button>
                  </span>
                </div>
              </div>
              <button class="btn btn-success item_buy">
                <span class="ico bg-shopping_cart__1_"></span>
                Заказать
              </button>
            </div>
          </div>
          <div class="section__items_pagination d-flex flex-column align-items-center jastify-content-center">
            <button class="btn dmore d-block btn-success mb-2 col-10">
              Загрузить еще
            </button>
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                    <span class="ico rev bg-next-arrow"></span>
                      </a> 
                    </li> <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link current" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">
                    <span class="ico bg-next-arrow"></span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>