<div class="item__properties">
  <div class="item__properti _color">
    <div class="item__properties_text">
      Цвет
    </div>
    <div class="item__properties_radio color">
      <input
        class="styled-checkbox"
        id="styled-checkbox-1"
        type="checkbox"
        value="value1"
      />
      <label for="styled-checkbox-1"></label>
      <input
        class="styled-checkbox"
        id="styled-checkbox-2"
        type="checkbox"
        value="value2"
        checked
      />
      <label for="styled-checkbox-2"></label>
      <input
        class="styled-checkbox"
        id="styled-checkbox-3"
        type="checkbox"
        value="value3"
      />
      <label for="styled-checkbox-3"></label>
      <input
        class="styled-checkbox"
        id="styled-checkbox-4"
        type="checkbox"
        value="value4"
      />
      <label for="styled-checkbox-4"></label>
      <input
        class="styled-checkbox"
        id="styled-checkbox-5"
        type="checkbox"
        value="value5"
      />
      <label for="styled-checkbox-5"></label>
      <input
        class="styled-checkbox"
        id="styled-checkbox-6"
        type="checkbox"
        value="value6"
      />
      <label for="styled-checkbox-6"></label>
      <input
        class="styled-checkbox"
        id="styled-checkbox-7"
        type="checkbox"
        value="value7"
      />
      <label for="styled-checkbox-7"></label>
      <input
        class="styled-checkbox"
        id="styled-checkbox-8"
        type="checkbox"
        value="value8"
      />
      <label for="styled-checkbox-8"></label>
      <input
        class="styled-checkbox"
        id="styled-checkbox-9"
        type="checkbox"
        value="value9"
      />
      <label for="styled-checkbox-9"></label>
    </div>
  </div>
  <div class="item__properti _size">
    <div class="item__properties_text">
      Размер
    </div>
    <div class="item__properties_radio size">
      <input
        class="styled-checkbox-second-type"
        id="styled-checkbox-11"
        type="checkbox"
        value="value11"
      />
      <label for="styled-checkbox-11">12 х 24 см</label>
      <input
        class="styled-checkbox-second-type"
        id="styled-checkbox-22"
        type="checkbox"
        value="value22"
        checked
      />
      <label for="styled-checkbox-22">22 х 24 см</label>
      <input
        class="styled-checkbox-second-type"
        id="styled-checkbox-33"
        type="checkbox"
        value="value33"
      />
      <label for="styled-checkbox-33">32 х 24 см</label>
      <input
        class="styled-checkbox-second-type"
        id="styled-checkbox-44"
        type="checkbox"
        value="value44"
      />
      <label for="styled-checkbox-44">12 х 34 см</label>
      <input
        class="styled-checkbox-second-type"
        id="styled-checkbox-55"
        type="checkbox"
        value="value55"
      />
      <label for="styled-checkbox-55">12 х 44 см</label>
      <input
        class="styled-checkbox-second-type"
        id="styled-checkbox-66"
        type="checkbox"
        value="value66"
      />
      <label for="styled-checkbox-66">32 х 84 см</label>
    </div>
  </div>
</div>
