
                    <ul class="drop__items d-none">
                        <li class="drop__item active">
                          <div class="drop__item_img">
                            <img src="./img/logo_namaste.png" alt="item_img" />
                          </div>
                          <div class="drop__row">
                            <div class="drop__item_text">
                              <div class="drop__item_title">Название бренда</div>
                              <div class="drop__item_description">
                                Более подробное название бренда
                              </div>
                            </div>
                            <div class="drop__item_cart">
                              <span class="ico bg-shopping_cart_green_2"></span>
                            </div>
                          </div>
                        </li>
                        <li class="drop__item">
                          <div class="drop__item_img">
                            <img src="./img/logo_namaste.png" alt="item_img" />
                          </div>
                          <div class="drop__row">
                            <div class="drop__item_text">
                              <div class="drop__item_title">Название бренда</div>
                              <div class="drop__item_description">
                                Более подробное название бренда
                              </div>
                            </div>
                            <div class="drop__item_cart">
                              <span class="ico bg-shopping_cart_green_2"></span>
                            </div>
                          </div>
                        </li>
                        <li class="drop__item">
                          <div class="drop__item_img">
                            <img src="./img/logo_namaste.png" alt="item_img" />
                          </div>
                          <div class="drop__row">
                            <div class="drop__item_text">
                              <div class="drop__item_title">Название бренда</div>
                              <div class="drop__item_description">
                                Более подробное название бренда
                              </div>
                            </div>
                            <div class="drop__item_cart">
                              <span class="ico bg-shopping_cart_green_2"></span>
                            </div>
                          </div>
                        </li>
                      </ul>