<main>
    <div class="content site__ui">
        </br> </br>
        <h3>
            normall
        </h3>
        </br>
        <button class="btn btn-success">
            <span class="ico bg-libra"></span>
        </button>
        <button class="btn btn-danger">
            <span class="ico bg-libra"></span>
        </button>
        <button class="btn btn-warning">
            <span class="ico bg-libra"></span>
        </button>
        </br> </br>
        <h3>
            outline
        </h3>
        </br>
        <button class="btn btn-outline-success">
            <span class="ico bg-libra"></span>
        </button>
        <button class="btn btn-outline-danger">
            <span class="ico bg-libra"></span>
        </button>
        <button class="btn btn-outline-warning">
            <span class="ico bg-libra"></span>
        </button>
        </br> </br>
        <h3>small</h3>
        </br>
        <button class="btn btn-sm btn-success">
            <span class="ico bg-libra"></span>
        </button>
        <button class="btn btn-sm btn-danger">
            <span class="ico bg-libra"></span>
        </button>
        <button class="btn btn-sm btn-warning">
            <span class="ico bg-libra"></span>
        </button>
        </br> </br>
        <h3>extra small</h3>
        </br>
        <button class="btn btn-xsm btn-success">
            <span class="ico bg-libra"></span>
        </button>
        <button class="btn btn-xsm btn-danger">
            <span class="ico bg-libra"></span>
        </button>
        <button class="btn btn-xsm btn-warning">
            <span class="ico bg-libra"></span>
        </button>
        </br> </br>
        <h3>other</h3>
        </br>

        <div class="input-group drop__item_counter">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus"
                    data-field="quant[1]">
                    -
                </button>
            </span>
            <input type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="9999">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                    +
                </button>
            </span>
        </div>
        </br>

        <div class="input">
            <div class="sample__input d-flex flex-column">
                <label for="text-input">
                    Ваш город
                </label>
                <input id="text-input" type="text" name="" id="">
            </div>
            <div class="search">

            </div>
        </div>
        </br>

        <div class="radiobatton">
            <div class="item__properties_radio d-flex flex-column color">
                <input class="styled-checkbox" id="styled-checkbox-1" type="radio" value="value1" name="variant1">
                <label for="styled-checkbox-1">
                    text
                </label>
                <input class="styled-checkbox" id="styled-checkbox-2" type="radio" value="value2" name="variant1"
                    checked="">
                <label for="styled-checkbox-2"></label>
                <input class="styled-checkbox" id="styled-checkbox-3" type="radio" value="value3" name="variant1">
                <label for="styled-checkbox-3"></label>
                <input class="styled-checkbox" id="styled-checkbox-4" type="radio" value="value4" name="variant1">
                <label for="styled-checkbox-4"></label>
                <input class="styled-checkbox" id="styled-checkbox-5" type="radio" value="value5" name="variant1">
                <label for="styled-checkbox-5"></label>
                <input class="styled-checkbox" id="styled-checkbox-6" type="radio" value="value6" name="variant1">
                <label for="styled-checkbox-6"></label>
                <input class="styled-checkbox" id="styled-checkbox-7" type="radio" value="value7" name="variant1">
                <label for="styled-checkbox-7"></label>
                <input class="styled-checkbox" id="styled-checkbox-8" type="radio" value="value8" name="variant1">
                <label for="styled-checkbox-8"></label>
                <input class="styled-checkbox" id="styled-checkbox-9" type="radio" value="value9" name="variant1">
                <label for="styled-checkbox-9"></label>
            </div>
            </br>
            <div class="item__properties_radio d-flex flex-column circle color">
                <input class="styled-checkbox" id="styled-checkbox-11" type="radio" value="value1" name="variant2">
                <label for="styled-checkbox-11">
                    text
                </label>
                <input class="styled-checkbox" id="styled-checkbox-12" type="radio" value="value2" name="variant2" checked="">
                <label for="styled-checkbox-12"></label>
                <input class="styled-checkbox" id="styled-checkbox-13" type="radio" value="value3" name="variant2">
                <label for="styled-checkbox-13"></label>
                <input class="styled-checkbox" id="styled-checkbox-14" type="radio" value="value4" name="variant2">
                <label for="styled-checkbox-14"></label>
                <input class="styled-checkbox" id="styled-checkbox-15" type="radio" value="value5" name="variant2">
                <label for="styled-checkbox-15"></label>
                <input class="styled-checkbox" id="styled-checkbox-16" type="radio" value="value6" name="variant2">
                <label for="styled-checkbox-16"></label>
                <input class="styled-checkbox" id="styled-checkbox-17" type="radio" value="value7" name="variant2">
                <label for="styled-checkbox-17"></label>
                <input class="styled-checkbox" id="styled-checkbox-18" type="radio" value="value8" name="variant2">
                <label for="styled-checkbox-18"></label>
                <input class="styled-checkbox" id="styled-checkbox-19" type="radio" value="value9" name="variant2">
                <label for="styled-checkbox-19"></label>
            </div>
            
        </div>
        </br>
        <div class="checkbox">
            <div class="item__properties_radio d-flex flex-column color">
                <input class="styled-checkbox" id="styled-checkbox-21" type="checkbox" value="value1">
                <label for="styled-checkbox-21">
                    text
                </label>
                <input class="styled-checkbox" id="styled-checkbox-22" type="checkbox" value="value2" checked="">
                <label for="styled-checkbox-22"></label>
                <input class="styled-checkbox" id="styled-checkbox-23" type="checkbox" value="value3">
                <label for="styled-checkbox-23"></label>
                <input class="styled-checkbox" id="styled-checkbox-24" type="checkbox" value="value4">
                <label for="styled-checkbox-24"></label>
                <input class="styled-checkbox" id="styled-checkbox-25" type="checkbox" value="value5">
                <label for="styled-checkbox-25"></label>
                <input class="styled-checkbox" id="styled-checkbox-26" type="checkbox" value="value6">
                <label for="styled-checkbox-26"></label>
                <input class="styled-checkbox" id="styled-checkbox-27" type="checkbox" value="value7">
                <label for="styled-checkbox-27"></label>
                <input class="styled-checkbox" id="styled-checkbox-28" type="checkbox" value="value8">
                <label for="styled-checkbox-28"></label>
                <input class="styled-checkbox" id="styled-checkbox-29" type="checkbox" value="value9">
                <label for="styled-checkbox-29"></label>
            </div>
            <div class="item__properties_radio d-flex flex-column plus color">
                <input class="styled-checkbox" id="styled-checkbox-31" type="checkbox" value="value1">
                <label for="styled-checkbox-31">
                    text
                </label>
                <input class="styled-checkbox" id="styled-checkbox-32" type="checkbox" value="value2"
                    checked="">
                <label for="styled-checkbox-32"></label>
                <input class="styled-checkbox" id="styled-checkbox-33" type="checkbox" value="value3">
                <label for="styled-checkbox-33"></label>
                <input class="styled-checkbox" id="styled-checkbox-34" type="checkbox" value="value4">
                <label for="styled-checkbox-34"></label>
                <input class="styled-checkbox" id="styled-checkbox-35" type="checkbox" value="value5">
                <label for="styled-checkbox-35"></label>
                <input class="styled-checkbox" id="styled-checkbox-36" type="checkbox" value="value6">
                <label for="styled-checkbox-36"></label>
                <input class="styled-checkbox" id="styled-checkbox-37" type="checkbox" value="value7">
                <label for="styled-checkbox-37"></label>
                <input class="styled-checkbox" id="styled-checkbox-38" type="checkbox" value="value8">
                <label for="styled-checkbox-38"></label>
                <input class="styled-checkbox" id="styled-checkbox-39" type="checkbox" value="value9">
                <label for="styled-checkbox-39"></label>
            </div>
        </div>
        <div class="range">

        </div>
    </div>
</main>