<main>
    <div class="content site__ui">
        </br> </br>
        <h3>
            normall
        </h3>
        </br>
        <button class="btn btn-success">
            <span class="ico bg-libra"></span>
        </button>
        <button class="btn btn-danger">
            <span class="ico bg-libra"></span>
        </button>
        <button class="btn btn-warning">
            <span class="ico bg-libra"></span>
        </button>
        </br> </br>
        <h3>
            outline
        </h3>
        </br>
        <button class="btn btn-outline-success">
            <span class="ico bg-libra"></span>
        </button>
        <button class="btn btn-outline-danger">
            <span class="ico bg-libra"></span>
        </button>
        <button class="btn btn-outline-warning">
            <span class="ico bg-libra"></span>
        </button>
        </br> </br>
        <h3>small</h3>
        </br>
        <button class="btn btn-sm btn-success">
            <span class="ico bg-libra"></span>
        </button>
        <button class="btn btn-sm btn-danger">
            <span class="ico bg-libra"></span>
        </button>
        <button class="btn btn-sm btn-warning">
            <span class="ico bg-libra"></span>
        </button>
        </br> </br>
        <h3>extra small</h3>
        </br>
        <button class="btn btn-xsm btn-success">
            <span class="ico bg-libra"></span>
        </button>
        <button class="btn btn-xsm btn-danger">
            <span class="ico bg-libra"></span>
        </button>
        <button class="btn btn-xsm btn-warning">
            <span class="ico bg-libra"></span>
        </button>
        </br> </br>
        <h3>other</h3>
        </br>

        <div class="input-group drop__item_counter">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus"
                    data-field="quant[1]">
                    -
                </button>
            </span>
            <input type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="9999">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                    +
                </button>
            </span>
        </div>
        </br>

        <div class="input">
            <div class="sample__input d-flex flex-column">
                <label for="text-input">
                    Ваш город
                </label>
                <input id="text-input" type="text" name="" id="">
            </div>
            <div class="search">

            </div>
        </div>
        </br>

        <div class="radiobatton">
            <div class="item__properties_radio d-flex flex-column color">
                <input class="styled-checkbox" id="styled-checkbox-1" type="radio" value="value1" name="variant1">
                <label for="styled-checkbox-1">
                    text
                </label>
                <input class="styled-checkbox" id="styled-checkbox-2" type="radio" value="value2" name="variant1"
                    checked="">
                <label for="styled-checkbox-2"></label>
                <input class="styled-checkbox" id="styled-checkbox-3" type="radio" value="value3" name="variant1">
                <label for="styled-checkbox-3"></label>
                <input class="styled-checkbox" id="styled-checkbox-4" type="radio" value="value4" name="variant1">
                <label for="styled-checkbox-4"></label>
                
            </div>
            </br>
            <div class="item__properties_radio d-flex flex-column circle color">
                <input class="styled-checkbox" id="styled-checkbox-11" type="radio" value="value1" name="variant2">
                <label for="styled-checkbox-11">
                    text
                </label>
                <input class="styled-checkbox" id="styled-checkbox-12" type="radio" value="value2" name="variant2" checked="">
                <label for="styled-checkbox-12"></label>
                <input class="styled-checkbox" id="styled-checkbox-13" type="radio" value="value3" name="variant2">
                <label for="styled-checkbox-13"></label>
                <input class="styled-checkbox" id="styled-checkbox-14" type="radio" value="value4" name="variant2">
                <label for="styled-checkbox-14"></label>
            
            </div>
            
        </div>
        </br>
        <div class="checkbox">
            <div class="item__properties_radio d-flex flex-column color">
                <input class="styled-checkbox" id="styled-checkbox-21" type="checkbox" value="value1">
                <label for="styled-checkbox-21">
                    text
                </label>
                <input class="styled-checkbox" id="styled-checkbox-22" type="checkbox" value="value2" checked="">
                <label for="styled-checkbox-22"></label>
                <input class="styled-checkbox" id="styled-checkbox-23" type="checkbox" value="value3">
                <label for="styled-checkbox-23"></label>
                <input class="styled-checkbox" id="styled-checkbox-24" type="checkbox" value="value4">
                <label for="styled-checkbox-24"></label>
            
            </div>
            <div class="item__properties_radio d-flex flex-column plus color">
                <input class="styled-checkbox" id="styled-checkbox-31" type="checkbox" value="value1">
                <label for="styled-checkbox-31">
                    text
                </label>
                <input class="styled-checkbox" id="styled-checkbox-32" type="checkbox" value="value2"
                    checked="">
                <label for="styled-checkbox-32"></label>
                <input class="styled-checkbox" id="styled-checkbox-33" type="checkbox" value="value3">
                <label for="styled-checkbox-33"></label>
                <input class="styled-checkbox" id="styled-checkbox-34" type="checkbox" value="value4">
                <label for="styled-checkbox-34"></label>
            
            </div>
        </div>
        <div class="range">
            <input type="number" id="data-first-node">
            <input type="number" id="data-last-node">
            <div id="slider" data-min="0" data-max="400" data-first-value="0" data-last-value="400"></div>        
        </div>
    </br>
    </br>
    <h3> ico </h3>
</br>
<span class="ico bg-instagram"></span>
<span class="ico bg-instagram_2"></span>
    </div>
</main>