$breadcrumb-divider: quote(">");
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}
.breadcrumb {
  background-color: transparent;
  padding: 38px 0 29px 0;
  margin: 0;
}
.breadcrumb-item {
  font-weight: 300;
  @include fs14;
  text-decoration-line: underline;
  color: #b6b6b6;
  &.active{
  text-decoration-line: none;
  color: #4BBB81;
  }
  a{
      color:inherit;
  }
  .ico{margin-right: 5px;}
}
