.wrap-drop {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0545236);
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    max-width: 225px;
    padding: 10px;
    position: relative;
    width: 75%;
    z-index: 3;
}

.arrow_d{
    position: relative;
}

.ar_d {
    border-color: #695d52 transparent;
    border-style: solid;
    border-width: 10px 10px 0;
    content: "";
    height: 0;
    margin-top: -4px;
    position: relative;
    right: 0;
    top: 50%;
    width: 0;
}

.wrap-drop .drop {
    display: none;
    left: 0;
    list-style: none;
    margin-top: 0;
    opacity: 0;
    padding-left: 0;
    pointer-events: none;
    position: relative;
    right: 0;
    top: 100%;
    z-index: 2;
}

.wrap-drop .drop li a {
    color: #695d52;
    display: block;
    padding: 10px 0;
    text-decoration: none;
}

.wrap-drop span {
    color: #928579;
}

.wrap-drop .drop li:hover a {
    // background-color: #695d52;
    color: $btn-success;
}

.wrap-drop.active::after {
    border-width: 0 10px 10px;
}

.wrap-drop.active .drop {
    display: block;
    opacity: 1;
    pointer-events: auto;
}