.filter__section {
  // max-width: 265px;
  width: 100%;
  background: #fff;
  border-radius: 4px;


  .navbar-toggler[aria-expanded='false'] .bg-minus,
  .navbar-toggler[aria-expanded='true'] .bg-plus {
    display: none;
  }

  .navbar-toggler[aria-expanded='true'] .bg-minus,
  .navbar-toggler[aria-expanded='false'] .bg-plus {
    display: inline;
  }

  .navbar {
    padding: 0;

    button {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  .collapse {
    border: 0.5px solid #f4f4f4;
  }

  .input__block_cost {
    display: flex;
    justify-content: space-between;

    input {
      width: 106px;
    }
  }

  // .collapse {
  //   padding: 20px;
  // }

  .input__block_range {
    input {
      width: 218px
    }
  }

  .filter__param_title {
    font-weight: 500;
    @include fs14;
    color: #3E3E3E;
  }

  .navbar-toggler {
    padding: 17px 20px
  }

  .filter__title {
    font-weight: 500;
    @include fs16;
    padding: 18px 20px;
  }

  .filter__param_action {

    margin: 20px;

  }

  .selected__param_item {
    background: #F4F4F4;
    border-radius: 4px;
    height: 36px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
}