.ico {
    display: inline-block;
    vertical-align: middle;
}

.big_ico {
    vertical-align: middle;
    display: inline-block;
    background-image: url('../img/css_sprites2.png')
}

// big ico
.bg-lotus {
    width: 147px;
    height: 122px;
    background-position: -10px -151px;
}

.bg-003_diwali {
    width: 126px;
    height: 125px;
    background-position: -10px -437px;
}

.bg-002_rickshaw {
    width: 151px;
    height: 121px;
    background-position: -10px -10px;
}

.bg-001_rupee {
    width: 125px;
    height: 124px;
    background-position: -10px -293px;
}

// big ico_end

// @include icons(next, 12px, 12px, h);
// @include icons(star_s, 12px, 12px, h);
// @include icons(star_g, 12px, 12px, h);

.bg-star_g {
    width: 12px;
    height: 12px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/icons/h/star_g.png');

}

.bg-star_g:hover {
    background-image: url('../img/icons/h/star_g-hover.png');
    transition: 1.2s;
}

.bg-star_s {
    width: 12px;
    height: 12px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/icons/h/star_s.png');

}

.bg-star_s:hover {
    background-image: url('../img/icons/h/star_s-hover.png');
    transition: 1.2s;
}

.rev.bg-next-arrow{
    transform: rotate(180deg);
}

.bg-next {
    width: 6px;
    height: 11px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/icons/h/next.png');
}

*:hover>.bg-next {
    width: 27px;
    background-image: url('../img/icons/h/next-hover.png');
    transition: 1.2s;
}


@include icons(whatsapp, 12px, 12px, h);
@include icons(libra, 16px, 20px, h);
@include icons(libra2, 16px, 20px, h);
@include icons(libra-silver, 25px, 27px, h);
@include icons(instagram, 12px, 12px, h);
@include icons(telegram, 12px, 12px, h);
@include icons(heart-silver, 24px, 24px, h);
@include icons(search_button_mob, 26px, 26px, h);

@include icons(next-arrow, 12px, 12px, h);
@include icons(viber-footer, 30px, 30px, h);
@include icons(instagram-footer, 30px, 30px, h);
@include icons(facebook-footer, 30px, 30px, h);
@include icons(user, 12px, 12px, h);
@include icons(home, 12px, 12px, h);
@include icons(heart, 16px, 18px, h);
@include icons(heart2, 16px, 18px, h);
@include icons(catalog-icon, 12px, 12px, h);
@include icons(catalog-icon2, 17px, 17px, h);
@include icons(shopping-cart, 22px, 20px, h);
@include icons(shopping-cart-dd, 33px, 29px, h);
@include icons(shopping-cart-green, 33px, 29px, h);
@include icons(shopping-cart-green2, 19px, 17px, h);
@include icons(shopping-cart-mobile, 33px, 29px, h);
@include icons(search, 12px, 12px, h);
@include icons(facebook, 12px, 12px, h);

@include icons(bitcoin, 36px, 35px, nh);
@include icons(heart-menu, 12px, 12px, nh);
@include icons(location, 8px, 11px, nh);
@include icons(plus, 12px, 12px, nh);
@include icons(cancel, 12px, 12px, nh);
@include icons(heart-white-contur, 12px, 12px, nh);
@include icons(mastercard-2, 46px, 35px, nh);
@include icons(qiwi, 71px, 30px, nh);
@include icons(down-arrow, 12px, 12px, nh);
@include icons(home-menu, 12px, 12px, nh);
@include icons(minus, 12px, 12px, nh);
@include icons(footer-location, 12px, 12px, nh);
@include icons(mobile-right-arrow, 12px, 12px, nh);
@include icons(green-call, 30px, 30px, nh);
@include icons(paypal, 72px, 19px, nh);