.ico {
    display: inline-block;
    background-image: url('../img/css_sprites.png');
    vertical-align:middle;
}

.big_ico{
    vertical-align:middle;
    display: inline-block;
    background-image: url('../img/css_sprites2.png')
}
// big ico
.bg-lotus {
    width: 147px; height: 122px;
    background-position: -10px -151px;
}
.bg-003_diwali {
    width: 126px; height: 125px;
    background-position: -10px -437px;
}
.bg-002_rickshaw {
    width: 151px; height: 121px;
    background-position: -10px -10px;
}
.bg-001_rupee {
    width: 125px; height: 124px;
    background-position:-10px -293px;
}
// big ico_end

.bg-001_facebook {
    width: 12px; height: 13px;
    background-position: -10px -253px;
}
.bg-002_instagram {
    width: 12px; height: 12px;
    background-position: -10px -125px;
}

.bg-003_telegram {
    width: 12px; height: 12px;
    background-position: -10px -157px;
}

.bg-004_whatsapp {
    width: 12px; height: 12px;
    background-position: -10px -189px;
}

.bg-bitcoin {
    width: 36px; height: 35px;
    background-position: -10px -1598px;
}

.bg-catalog_icon {
    width: 12px; height: 12px;
    background-position: -10px -221px;
}

.bg-catalog_icon_2 {
    width: 20px; height: 19px;
    background-position: -10px -678px;
}

.bg-checked {
    width: 18px; height: 14px;
    background-position: -10px -319px;
}

.bg-down_arrow {
    width: 5px; height: 3px;
    background-position: -10px -10px;
}

.bg-facebook_footer {
    width: 30px; height: 30px;
    background-position: -10px -1139px;
}

.bg-facebook_menu {
    width: 33px; height: 33px;
    background-position: -10px -1439px;
}

.bg-footer_location {
    width: 55px; height: 71px;
    background-position: -10px -1915px;
}

.bg-green_call {
    width: 30px; height: 30px;
    background-position: -10px -1189px;
}

.bg-heart__1_ {
    width: 20px; height: 20px;
    background-position: -10px -717px;
}

.bg-heart {
    width: 18px; height: 16px;
    background-position: -10px -422px;
}

.bg-heart_menu {
    width: 16px; height: 15px;
    background-position: -10px -387px;
}

.bg-heart_silver {
    width: 28px; height: 24px;
    background-position: -10px -957px;
}

.bg-home_menu {
    width: 16px; height: 16px;
    background-position: -10px -458px;
}

.bg-instagram_footer {
    width: 30px; height: 30px;
    background-position: -10px -1239px;
}

.bg-instagram_menu {
    width: 33px; height: 33px;
    background-position: -10px -1492px;
}

.bg-levels_mobile {
    width: 26px; height: 18px;
    background-position: -10px -640px;
}

.bg-libra {
    width: 20px; height: 20px;
    background-position: -10px -757px;
}

.bg-libra_menu {
    width: 16px; height: 16px;
    background-position: -10px -494px;
}

.bg-libra_silver {
    width: 28px; height: 28px;
    background-position: -10px -1091px;
}

.bg-location {
    width: 8px; height: 10px;
    background-position: -10px -33px;
}

.bg-Logo {
    width: 156px; height: 51px;
    background-position: -10px -1773px;
}

.bg-logo_namaste {
    width: 150px; height: 167px;
    background-position: -10px -2288px;
}

.bg-logo_namaste_copy_2 {
    width: 126px; height: 140px;
    background-position: -10px -2128px;
}

.bg-logo_namaste_copy_3 {
    width: 92px; height: 102px;
    background-position: -10px -2006px;
}

.bg-logo_namaste_zakaz {
    width: 46px; height: 45px;
    background-position: -10px -1708px;
}

.bg-Logo_footer {
    width: 156px; height: 51px;
    background-position: -10px -1844px;
}

.bg-mastercard_2 {
    width: 46px; height: 35px;
    background-position: -10px -1653px;
}

.bg-next {
    width: 7px; height: 11px;
    background-position: -10px -63px;
}

.bg-next_arrow {
    width: 9px; height: 16px;
    background-position: -10px -530px;
}

.bg-next_x3 {
    width: 27px; height: 11px;
    background-position: -10px -94px;
}

.bg-paypal {
    width: 73px; height: 20px;
    background-position: -10px -797px;
}

.bg-qiwi {
    width: 71px; height: 30px;
    background-position: -10px -1289px;
}

.bg-red_heart {
    width: 20px; height: 20px;
    background-position: -10px -837px;
}

.bg-red_libra {
    width: 20px; height: 20px;
    background-position: -10px -877px;
}

.bg-search {
    width: 13px; height: 13px;
    background-position: -10px -286px;
}

.bg-shopping_cart__1_ {
    width: 22px; height: 20px;
    background-position: -10px -917px;
}
.bg-shopping_cart {
    width: 33px; height: 30px;
    background-position: -10px -1339px;
}

.drop__item.active .bg-shopping_cart_green_2,
.drop__item:hover .bg-shopping_cart_green_2,
.bg-shopping_cart_green {
    width: 19px; height: 17px;
    background-position: -10px -566px;
}

.bg-shopping_cart_green_2 {
    width: 19px; height: 17px;
    background-position: -10px -603px;
}

.bg-shopping_cart_silver {
    width: 28px; height: 24px;
    background-position: -10px -1001px;
}

.bg-silver_search {
    width: 27px; height: 26px;
    background-position: -10px -1045px;
}

.bg-user {
    width: 14px; height: 14px;
    background-position: -10px -353px;
}

.bg-viber_footer {
    width: 30px; height: 30px;
    background-position: -10px -1389px;
}

.bg-whatsapp_menu {
    width: 33px; height: 33px;
    background-position: -10px -1545px;
}


//another part
.bg-Shape_1_ {
    width: 28px; height: 28px;
    background: url('../img/css_sprites3.png') -10px -98px;
}
.bg-Shape {
    width: 28px; height: 24px;
    background: url('../img/css_sprites3.png') -10px -10px;
}
.bg-shopping_cart__2_ {
    width: 28px; height: 24px;
    background: url('../img/css_sprites3.png') -10px -54px;
}