header.payment__page {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0841893);
}

main {
    padding-bottom: 55px;
}

.header-content {
    max-width: 1108px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 18px;
    align-items: center;
}

.header-logo {
    width: 156px;
    height: 51px;
    background: url('css_sprites.png') -10px -1773px;
    display: block;
}

.call-order {
    display: block;
}

.call-order a {
    font-weight: 300;
    @include fs12;
    text-decoration-line: underline;
    color: #4BBE82;
}

.phone-number {
    font-weight: 500;
    @include fs18;
}

.main-content {
    max-width: 1108px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.wrap {
    background: #FCFCFC;
}

.main-checkout h2 {
    @include fs24;
    margin-top: 53px;
    margin-bottom: 44px;
}

.personal-data h3 {
    font-weight: 500;
    @include fs16;
    margin-bottom: 20px;
}

.personal-data h4 {
    @include fs14;
}

.input-text {
    background: #FFFFFF;
    border-radius: 4px;
    width: 100%;
    max-width: 454px;
    height: 55px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.01);
    border: none;
    margin-top: 5px;
    margin-bottom: 20px;
}

.input-text::placeholder {
    @include fs14;
    color: #B9B9B9;
}

.input-text[type="text"] {
    font-weight: 500;
    @include fs14;
    padding-left: 15px;
}

.input-text[type="email"] {
    font-weight: 500;
    @include fs14;
    padding-left: 15px;
}

.personal-data span {
    background: #4BBB81;
    height: 36px;
    width: 36px;
    display: inline-block;
    border-radius: 100%;
    text-align: center;
    font-weight: 500;
    @include fs16;
    line-height: 35px;
    color: #FFFFFF;
    margin-right: 15px;
}

.personal-data-form {
    margin-left: 51px
}

.delivery-form {
    margin-left: 51px
}

.delivery h3 {
    font-weight: 500;
    @include fs16;
    margin-bottom: 20px;
}

.delivery h4 {
    font-weight: 500;
    @include fs14;
}

.delivery span {
    background: #4BBB81;
    height: 36px;
    width: 36px;
    display: inline-block;
    border-radius: 100%;
    text-align: center;
    font-weight: 500;
    @include fs16;
    line-height: 35px;
    color: #FFFFFF;
    margin-right: 15px;
}

.delivery-button {
    display: none;
}

.radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}

.radio+label {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
    display: block;
    margin-top: 15px;
}

.radio+label:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #E3E3E3
}

.radio+label:after {
    content: '';
    position: absolute;
    top: 11px;
    left: 6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #4BBB81;
    opacity: 0;
    transition: .2s;
}

.radio:checked+label:after {
    opacity: 1;
}

.branch {
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 35px;
}

.delivery-form label {
    font-weight: 500;
}

.delivery-form label p {
    @include fs14;
    line-height: 25px;
}

.payment-method span {
    background: #4BBB81;
    height: 36px;
    width: 36px;
    display: inline-block;
    border-radius: 100%;
    text-align: center;
    font-weight: 500;
    @include fs16;
    line-height: 35px;
    color: #FFFFFF;
    margin-right: 15px;
    margin-top: 30px;
}

.main-order-form {
    margin-left: 51px;
}

.main-order-form label {
    margin-top: 24px;
}

.main-order-form .radio+label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 1px;
    width: 20px;
    height: 20px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #E3E3E3
}

.main-order-form .radio+label:after {
    content: '';
    position: absolute;
    top: 2px;
}

.footer-content {
    max-width: 1108px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
}

footer {
    min-height: 0;
}

.footer-copyright {
    @include fs12;
    color: #B6B6B6;
    width: 45%;
}

.payment__item {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16032);
    border-radius: 4px;
    width: 98px;
    height: 53px;
    margin-left: 12px;
}

.footer-payment_systems {
    display: flex;
}

.payment-system {
    margin: 0 auto;
    margin-top: 9px;
}

.mastercard {
    width: 46px;
    height: 35px;
    background: url('css_sprites.png') -10px -1653px;
}

.paypal {
    width: 73px;
    height: 20px;
    background: url('css_sprites.png') -10px -797px;
    margin-top: 15px;
}

.qiwi {
    width: 71px;
    height: 30px;
    background: url('css_sprites.png') -10px -1289px;
    margin-top: 13px;
}

.bitcoin {
    width: 36px;
    height: 35px;
    background: url('css_sprites.png') -10px -1598px;
}

.order-list {
    margin-top: 48px;
    padding: 0 15px;

    h3 {
        font-weight: 500;
        @include fs18;
        margin-bottom: 15px;
    }
}

.order {
    padding: 10px;
    height: 489px;
    width: 100%;
    max-width: 473px;
    background: #FFFFFF;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.0221984);

    .product-name {
        @include fs18;
    }

    .product-code {
        @include fs14;

    }

    .product-priсe {
        font-weight: 500;
        @include fs16;
    }

    .product-quanity {
        @include fs16;
    }
}

.order-product__item {
    display: flex;
}

.order-product__item:nth-child(1) {
    padding-top: 18px;
    padding-left: 20px;
    padding-bottom: 28px;
}

.order-product__item:nth-child(2) {
    padding-left: 20px;
}

.order-photo {
    width: 46px;
    height: 51px;
    background: url(css_sprites.png) -10px -1704px;
}

.order-info {
    padding-left: 20px;

    .order-info__up {
        display: flex;
        justify-content: space-between;

        .product-code {
            padding-left: 77px;
        }
    }

    .order-info__down {
        display: flex;
        justify-content: space-between;
        padding-top: 13px;
    }
}

.total-order {
    padding: 40px 20px 20px 20px;

    h3 {
        font-weight: 500;
        @include fs16;
        margin-bottom: 20px;
    }

    .total-number {
        @include fs14;

    }

    .total-amount {
        font-weight: 500;
        @include fs14;

    }
}

.quantity-of-goods {
    display: flex;
    justify-content: space-between;
}

.total-delivery {
    h4 {
        display: block;
    }

    display: flex;
    justify-content: space-between;
    padding-top: 10px;

    .text-delivery {
        @include fs14;

    }

    .amount-delivery {
        font-weight: 500;
        @include fs14;

        text-align: right;
    }
}

.total-payable {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #F7F7F7;

    .total-payable__text {
        font-weight: 500;
        @include fs16;
    }

    .total-payable__amount {
        font-weight: bold;
        @include fs18;
        text-align: right;
    }
}

.button-order {
    text-align: center;
    margin-top: 40px;

    button {
        background: #4BBB81;
        border-radius: 4px;
        padding: 18px 53px 18px 54px;
        border: none;
        font-weight: 500;
        @include fs16;
        text-align: right;
        color: #FFFFFF;
    }
}


.footer-payment_systems .footer__col_payment {
    margin-left: 10px;
}