header,
footer {
  width: 100%;
}

.content {
  max-width: 1138px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

main {
  min-height: 50vh;
}

main .content {
  background-color: $main-back;
}

h2.title__fline {
  @include fs24;
  text-align: center;
}

.section__title {
  padding: 0 0 25px 0;
}

.section__item_img {
  max-width: 150px;
  align-self: center;

  img {
    width: 100%;
  }
}

.main__section_hit .section__item {
  max-width: 264px;
  height: 404px;
  width: 100%;
  padding: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: $body-back;
  // align-items: center;
}

.section__item_pin {
  padding: 2px 4px;
  align-self: self-end;
  @include fs12;
  text-align: center;
}

.pin_new {
  background: #ff9933;
  color: #fcfcfc;
}

.pin_hit {
  background: #ff6633;
  color: #fcfcfc;
}

.pin_sell {
  background: #1c9341;
  color: #fcfcfc;
}

.pin_actia {
  background: #643b15;
  color: #fcfcfc;
}

.section__item_title {
  font-weight: 500;
  @include fs18;
}

.section__item_description {
  @include fs16;
}

.section__item_price {
  .price_new {
    @include fs24;
    font-weight: 700;
    color: #4bbe82;
  }

  .price_old {
    @include fs16;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #c5c5c5;
  }
}

.price_new {
  @include fs24;
  font-weight: 700;
  color: #4bbe82;
}

.price_old {
  font-weight: 500;
  @include fs16;
  text-decoration-line: line-through;
  color: #c5c5c5;
}

.main__section_hit button {
  min-width: 37px;
  height: 37px;
}

.btn {
  border-radius: 4px;
}

// .main__section_supreme .section__item {
// 	max-width: 264px;
// 	height: 404px;
// 	width: 100%;
// 	padding: 18px;
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: space-evenly;
// 	background-color: $body-back;
//   }

h3.title__sline {
  @include fs16;
  text-align: center;
}

.main__section_supreme {
  .section__item {
    background-color: $body-back;
    // max-width: 173px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section__item_title {
    text-align: center;
    // margin-bottom: 5px;
  }

  .section__item_img {
    margin-bottom: 12px;
  }
}

.item_open {
  background: #FCFCFC;
  border-radius: 4px;
  max-width: 126px;
  height: 22px;
  font-size: 14px;
  line-height: 22px;
  color: #5CC48E;
  // padding: 2px 5px 4px 5px;
  padding: 0;
  border: 0;
  outline: none;

  .bt {
    width: 22px;
    height: 22px;
    display: inline-block;
    border-radius: 4px;
    background: #5CC48E;
    transition: 1.2s;
  }
}

.section__item:hover .bt {
  width: 43px;

  .bg-next {
    width: 27px;
    background-image: url('../img/icons/h/next-hover.png');
    transition: 1.2s;
  }
}

.main__section_article {
  .section__item_title {
    margin-bottom: 5px;
  }

  .section__item_text {
    position: relative;
    background: #FFFFFF;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.0671984);
    border-radius: 4px;
    max-width: 349px;
    padding: 10px 15px;
    margin: -40px 0 0 10px
  }

  .section__item {
    max-width: 362px;
    padding: 0;
    margin-right: 17px;

    &.central .section__item_text {
      margin: -60px 0 0 10px
    }


  }



  .section__item_img {
    max-width: 347px;
    border-radius: 4px;
  }

  .section__item_description {
    margin-bottom: 10px;
    max-height: 38px;
    overflow: hidden;
    // padding: 2px;
  }
}



.main__section_hit,
.main__section_supreme,
.main__section_partners,
.main__section_article,
.main__section_insta,
.footer__section {
  margin-top: 55px;
}

.main__section_partners {
  .section__title {
    background: #ffa449;
    padding: 0;
    margin-bottom: 35px;
  }

  h2.title__fline {
    padding: 12px 0;
    color: #ffffff;
  }

  .section__footer {
    background: #5cc48e;
    width: 100%;
    height: 52px;
    margin-top: 35px;
  }
}

.main__section_insta {
  .section__item_img {
    max-width: 334px;
    position: absolute;
    top: 0;
  }

  .section__item_actions {
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .section__square {
    position: relative;
    // background-color: red;
    width: 100%;
    max-width: 334px;
    overflow: hidden;
    margin-bottom: 18px;
    padding: 0;
    margin: 9px;
  }

  .section__item {
    height: 0;
    padding-top: 100%;
  }

  .section__item_text,
  .button.btn {
    display: inline-block;
    vertical-align: top;
  }

  .row {
    padding: 27px 35px 35px 17px;
  }
}

.main__section_hit {
  @include for-size(md) {

    .btn-danger:hover,
    .btn-outline-danger {

      background-color: $btn-danger;
      border-color: $btn-danger;
    }

    .btn-outline-danger:hover,
    .btn-danger {
      color: $btn-danger;
      background-color: #fff;
      border-color: $btn-danger;
    }

    .btn-warning:hover,
    .btn-outline-warning {
      background-color: $btn-warning;
      border-color: $btn-warning;
    }

    .btn-outline-warning:hover,
    .btn-warning {
      color: $btn-warning;
      background-color: #fff;
      border-color: $btn-warning;
    }

    // .btn-success:hover,
    // .btn-outline-success {
    //   background-color: $btn-success;
    //   border-color: $btn-success;
    // }

    // .btn-outline-success:hover,
    // .btn-success {
    //   color: $btn-success;
    //   background-color: #fff;
    //   border-color: $btn-success;
    // }
  }
}