// .category__section_choose {
// display: flex;
// padding: ;
// }
.main__section__category {

  .category__section,
  .category__section_action,
  .sort__param,
  .sort__view {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .category__section_action {
    max-width: 439px;
  }
}

.sort__param {
  max-width: 310px;
}

.sort__view {
  max-width: 100px;
}

.category__section_filter {
  @include for-size(minlg) {
    flex: 1 1 265px;
    max-width: 265px;
    margin-right: 18px;
  }

  // min-height: 773px;
}

.section__items {
  margin-bottom: 17px;
  // min-height: 773px;
}

.section__items.item_row {
  max-width: 826px;
  width: 100%;
}


.category__section_items {
  flex: 1 1 830px;

  .drop__row {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 17px;
  }

  .drop__item_img {
    max-width: 60px;
  }

  .drop__item_amount {
    @include fs24;
    font-weight: 700;
    color: #4BBE82;
  }

  .drop__item_title {
    font-weight: 500;
    @include fs18;
  }



  .drop__item_counter {
    width: 136px;

    input {
      border: none;
      background: #F7F7F7;
      border-radius: 4px;
      text-align: center;
    }

    .btn,
    input {
      font-weight: 500;
      @include fs16;
    }
  }

  .item_row {
    @include for-size(lg) {
      display: none;
    }
  }
}


.category__section {
  margin: 0 0 25px;
  padding-top: 30px;
}

.category__section_title {
  @include fs24;
}

.drop__item_indicator {
  display: flex;
  align-items: center;
}

.drop__item_indicator_status {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #4BBE82;
  ;
  margin-right: 5px;
}

.section__items_pagination {
  background: #FFFFFF;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.0671984);
  border-radius: 4px;
  padding: 9px;

  .page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background: #F7F7F7;
    color: inherit;
    border: none;
    width: 37px;
    height: 37px;
    margin: 0 10px;
    border-radius: 4px;

    &.current,
    &:hover {
      background: #4BBB81;
      color: #fff;
    }
  }

  .page-item.disabled {
    opacity: 0.3;
  }
}

.category__section_items {
  display: flex;

  @include for-size(minlg) {
    flex-direction: column;
  }

  @include for-size(lg) {
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.category__section_items.item_sq {
  flex-direction: row;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item_galery {
  .drop__row {
    align-items: flex-start;
  }

  .drop__item_action_buttons {
    display: flex;
  }

  .drop__item_text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .drop__item_img {
    max-width: 150px;
  }

  .drop__item_act_btns,
  .drop__item_indicator {
    max-width: 240px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .drop__item_act_btns {
    max-width: 392px;
  }

  .drop__item_article {
    margin-top: 10px;
    margin-bottom: 25px;
  }

  .section__item_price {
    display: flex;
    flex-direction: column;
  }

  .drop__item_action_buttons {
    justify-content: space-between;
  }

  .item_buy {
    max-width: 136px;
    width: 100%;
  }

  .drop__item_article {
    text-align: justify;
  }
}

.drop__item_rate .numbers {
  font-size: 11px;
  line-height: 13px;
  color: #C5C5C5;
}

.sort__param {

  .ico {
    width: 6px;
    height: 3.5px;
  }

  label {
    opacity: 0.7;

  }

  [aria-pressed="true"] {
    opacity: 1;
  }
}

.sort__view,
.sort__param {
  input {
    position: absolute;
    left: -9999999px;
    z-index: -9999;
  }

  .btn {
    padding: 0;
    height: auto;
  }
}

input:checked+label .bg-down-arrow {
  transform: rotate(180deg);
}

.sort__view label.active>.bg-sq {
  background-image: url('../img/icons/h/sq-hover.png');
}

.sort__view label.active>.bg-galery {
  background-image: url('../img/icons/h/galery-hover.png');
}

.sort__view label.active>.bg-row {
  background-image: url('../img/icons/h/row-hover.png');
}