.category__section_choose {
  display: flex;
  // padding: ;
}

.category__section_filter {
  flex: 1 1 265px;
  max-width: 265px;
  margin-right: 18px;
  // min-height: 773px;
}

.section__items {
  margin-bottom: 17px;
  // min-height: 773px;
}

.category__section_items {
  flex: 1 1 830px;

  .drop__row {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 17px;
  }

  .drop__item_img {
    max-width: 60px;
  }

  .drop__item_amount {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #4BBE82;
  }

  .drop__item_title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }

  .drop__item_action_buttons{
    button{
      height: 24px;
      width: 24px;
    }
  }
  .drop__item_counter {
    width: 136px;

    input {
      border: none;
      background: #F7F7F7;
      border-radius: 4px;
      text-align: center;
    }

    .btn,
    input {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
    }
  }
}

.category__section {
  margin-top: 30px;
}

.category__section_title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.drop__item_indicator {
  display: flex;
  align-items: center;
}

.drop__item_indicator_status {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #4BBE82;
  ;
  margin-right: 5px;
}

.section__items_pagination {
  background: #FFFFFF;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.0671984);
  border-radius: 4px;
  padding: 9px;

  .page-link {
    background: #F7F7F7;
    color: inherit;
    border: none;
    width: 37px;
    height: 37px;
    margin: 0 10px;

    &.current,
    &:hover {
      background: #4BBB81;
      color: #fff;
    }
  }

  .page-item.disabled {
    opacity: 0.3;
  }
}