.YMaps-b-balloon-wrap {
    display: none;
}

.YMaps-b-balloon-tail-top,
.YMaps-b-balloon-tail-middle {
    display: none;
}

.YMaps-b-balloon-tail-bottom i {
    width: 95px;
    height: 128px;
    background: url('../img/footer-location.png');
}